.header-warp {
  @include flex-justify-align(center);
  width: 100%;
  height: 100px;
  background: #ffffff;
  // box-shadow: 0 0 20px 0 rgba(10,117,228,0.15);
  // z-index: 99;
  .header-main {
    @include flex-justify-align();
    width: 100%;
    height: 100px;
    padding: 0 70px 0 50px;
    color: green;
    box-shadow: 0 0 10px 0  #EEEEEE;//边框阴影
    // z-index: 999;
  }
  .header-content {
    font-size: 30px;
    letter-spacing: 2px;
    color: #348F6C;
  	font-weight: bold;
  }
  .header-other {
    @include flex-align();
    font-size: 15px;
    color: green;
    li {
      @include flex-align();
      // margin-right: 80px;
      cursor: pointer;
      &.active {
        i {
          background: #F49364;
        }
      }
      i {
        width:10px;
        height:10px;
        background: transparent ;
        border-radius:50%;
      }
      span {
        display: inline-block;
        margin-left: 10px;
      }
      .avatar-li {
        display: flex;
        align-items: center;
        margin-left: 10px;
        img {
          width:30px;
          height:30px;
          border-radius:50%;
        }
        .name {
          color: black;
          font-size: 15px;
        }
      }
    }
    li:last-child {
      position: relative;
      margin-right: 0;
    }
  }
}
