@media (max-width: 1920px) {
    .baiban1 {
        width: 490px;
  }
  .imgT{
    margin:0 30px 40px 10px;
  }
}
@media (max-width: 1440px) {
    .baiban1 {
        width: 400px;
  }
  .imgT{
    margin:0 10px 40px 10px;
  }
}
@media (max-width: 1280px) {
    .baiban1 {
        width: 370px;
  }
  .imgT{
    margin:0 10px 40px 10px;
  }
}